@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@import 'tailwindcss';
@import 'tailwind-animations';

@font-face {
  font-family: "space mono";
  src: url("/fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "space mono";
  src: url("/fonts/SpaceMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "space mono";
  src: url("/fonts/SpaceMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "space mono";
  src: url("/fonts/SpaceMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

h1 {
  font-family: "space mono", sans-serif;
}
