---
import Linkedin from "@/icons/linkedin.astro";
import GitHub from "@/icons/gitHub.astro";
---

<section id="contacto" class="w-full md:max-w-6xl mx-auto py-10 text-white">
  <div class="flex flex-col md:flex-row gap-2 justify-center items-center">
    <a
      class="py-2 border-2 border-slate-300 px-10 hover:border-amber-400 transition-colors duration-300 hover:animate-pulse flex gap-2 items-center"
      href="https://www.linkedin.com/in/gabriel-aguero-dev/ "
      target="_blank"
      rel="noopener noreferrer"
    >
      <Linkedin class="w-8 h-8" />
      <span>Linkedin</span>
    </a>
    <a
      class="py-2 border-2 border-slate-300 px-10 hover:border-amber-400 transition-colors duration-300 hover:animate-pulse flex gap-2 items-center"
      href="https://github.com/Gabriel-Aguero"
      target="_blank"
      rel="noopener noreferrer"
    >
      <GitHub class="w-8 h-8" />
      <span>GitHub</span>
    </a>
  </div>
</section>
)

