<footer class="pt-10">
    <div class="w-full max-w-xl mx-auto md:p-8">
        <nav>
            <ul class="flex flex-col gap-4 md:flex-row">
                <li>Politica de privacidad</li>
                <li>Términos de uso</li>                
            </ul>
        </nav>
        <div class="flex flex-col gap-4 md:flex-row">
            <span>© 2023 Gabriel Aguero</span>
        </div>
    </div>
</footer>