<footer class="pt-10 text-sm py-10 text-white">
    <div class="max-w-6xl mx-auto md:p-8">
        <nav class="flex flex-col gap-4 justify-center items-center">
            <ul class="flex flex-col gap-4 md:flex-row">
                <li>Politica de privacidad</li>
                <li>Términos de uso</li>                
            </ul>
            <div class="border-b border-[0.1] border-slate-50 w-full"></div>
            <div class="flex flex-col gap-4 md:flex-row">
                <smal>Creado por Gabriel Aguero - Frontend Developer</smal>
            </div>
        </nav>
    </div>
</footer>