<header class="w-full max-w-xl mx-auto py-8 px-4 md:p-8 text-white">   
    <nav class="flex justify-center items-center">
        <ul class="flex flex-col gap-4 md:flex-row cursor-pointer">
            <li class="hover:text-gray-400">Inicio</li>
            <li>Sobre mí</li>
            <li>Proyectos</li>
            <li>Contacto</li>
        </ul>
    </nav>    
</header>