<main class="max-w-6xl mx-auto py-6">
    <section class="p-10 text-white flex flex-col justify-center items-center gap-4">
        <div class="rounded-full w-40 h-40 mb-4">
            <img src="/perfil.jpeg" alt="Gabriel Agüero" class="rounded-full w-40 h-auto mb-4" />
        </div>
        <div class="text-slate-800 font-semibold text-xl dark:text-white">
            <h1>Mi nombre es Gabriel</h1>
            <p>Soy desarrollador web. Me gusta construir sitios web y aplicaciones. 
                Me especializo en crear experiencias de usuario atractivas y funcionales.                         
            </p>            
        </div>
    </section>
</main>