<main class="max-w-6xl mx-auto py-6 text-white">
    <section class="p-10 text-white flex flex-col justify-center items-center gap-10">
        <h1 class="text-3xl font-medium">Hola Soy Gabriel Agüero</h1>                
            <p class="text-xl font-medium px-10 text-balance text-center">Soy desarrollador web. Me gusta construir sitios web y aplicaciones. 
                Me especializo en crear experiencias de usuario atractivas y funcionales.                         
            </p>                    
    </section>
</main>