---
import '@/styles/global.css';
import Header from '@/sections/Header.astro';
import Footer from '@/sections/Footer.astro'; 
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Porfolio personal de Gabriel Agüero</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content="Porfolio personal de Gabriel Agüero" />

		<meta property="og:url" content="https://devgaby.dev" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Porfolio personal de Gabriel Agüero" />
		<meta property="og:description" content="Gabriel Agüero desarrollador web" />
		<meta property="og:image" content="/og-image.jpg" />  
		<meta property="og:locale" content="es_ES" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@gabyaguero" />
		<meta name="twitter:creator" content="@gabyaguero" />
		<meta name="twitter:title" content="Porfolio personal de Gabriel Agüero" />
		<meta name="twitter:description" content="Gabriel Agüero desarrollador web" />
	</head>
	<body>
		<div id="backgraund-mask" class="min-h-screen w-full">
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style>	
	body {
		margin: 0;
		width: 100%;	
	}

	#backgraund-mask {
		background: linear-gradient(to bottom, #000000e8, #000000c0);
		background-size: cover;
		background-position: center;
		min-height: 100vh;
	}
</style>

